*{
   
}
.homepage{
    display: none;
    
}
.aboutpage{
    display: none;
    

}
.invitationcard{
    display: none;
}
.timepage{
    display: none;
}
iframe{
    
}
.locationpage{
    display: none;
}
